<div class=" ng-cloak" ng-controller="listServicePageController">
	

	<div class="row section" style="margin-bottom: 0px;">
		<div class="col s12">
			<p class="left" style="font-size: 25px;margin-bottom: 0px;margin-top: 15px;">Serviços</p>
			<a class="btn-floating btn-large waves-effect waves-light red right" href="/services/new"><i class="material-icons">add</i></a>
		</div>


		<div class="input-field col s7">
			<label for="exampleInputEmail1">Pesquisar</label>
			<input type="text" class="form-control" placeholder="Nome..." required="required" ng-model="searchCriteria" style="margin-bottom: 0;">
		</div>
		<div class="col s5">
			<md-button class="md-raised md-primary pull-right" ng-click="loadResults()" style="width: 100%; margin-top: 20px;">Buscar</md-button>
		</div>

		<div class="col s12">
			<span class="limited-resultset-info">Apenas 20 resultados são mostrados.</span>
		</div>
	</div>


	<div cg-busy="resultsPromise">
		
		<h6 ng-show="!services || services.length == 0" class="no-results-container">Nenhum Resultado Encontrado</h6>

		<div ng-if="services && services.length > 0">

			<table class="bordered" style="width: 100%;">
				<thead>
					<th>Nome</th>
					<th>Preço</th>
					<th style="width: 55px;"></th>
					<th style="width: 55px;"></th>
				</thead>

				<tbody>
					
					<tr ng-repeat="service in services">
						<td>{{ service.name }}</td>
						<td>{{ service.price }}</td>
						<td>
							<a ng-click="deleteEntry($event, service, $index)">
								<i class="red-text material-icons">delete</i>
							</a>
						</td>
						<td>
							<a href="/services/{{service.id}}/edit">
								<i class="material-icons">mode_edit</i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		
		</div>

	</div>

	

</div>