<div class=" ng-cloak" ng-controller="listCustomerPageController">
	

	<div class="row section" style="margin-bottom: 0px;">
		<div class="col s12">
			<p class="left" style="font-size: 25px;margin-bottom: 0px;margin-top: 15px;">Clientes</p>
			<a class="btn-floating btn-large waves-effect waves-light red right" href="/customers/new"><i class="material-icons">add</i></a>
		</div>
	</div>

	<h4 ng-show="!customers || customers.length == 0">Nenhum Resultado Encontrado. Clique <a href="/customers/new">+</a> para adicionar cliente.</h4>

	<div>
		<md-card md-theme-watch="" ng-repeat="customer in customers">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{ customer.name }} - {{ customer.phone1 }}</span>
					<span class="md-subhead">{{ customer.phone2 }}</span>
					<span class="md-subhead">{{ customer.comment }}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-actions layout="row" layout-align="end center">

				<a href="#" ng-click="deleteCustomer($event, customer, $index)" style="width: 40px; text-align: center;">
					<i class="red-text material-icons">delete</i>
				</a>
				<a href="/customers/{{ customer.id }}/edit" style="width: 40px; text-align: center;">
					<i class="material-icons">mode_edit</i>
				</a>
			</md-card-actions>
		</md-card>
	</div>

</div>