<div class=" ng-cloak" ng-controller="listExpensePageController as ctrl">
	

	<div class="row section" style="margin-bottom: 0px;">
		<div class="col s12">
			<p class="left" style="font-size: 25px;margin-bottom: 0px;margin-top: 15px;">Despesas de</p>
			<div class="left" style="    margin: 15px 15px 0; ">
				<select ng-model="ctrl.selectedMonth" style="display: inline-block;" ng-change="ctrl.loadResults()">
					<option value="0">Janeiro</option>
					<option value="1">Fevereiro</option>
					<option value="2">Março</option>
					<option value="3">Abril</option>
					<option value="4">Maio</option>
					<option value="5">Junho</option>
					<option value="6">Julho</option>
					<option value="7">Agosto</option>
					<option value="8">Setembro</option>
					<option value="9">Outubro</option>
					<option value="10">Novembro</option>
					<option value="11">Dezembro</option>
				</select>
			</div>
			<a class="btn-floating btn-large waves-effect waves-light red right" href="/expenses/new"><i class="material-icons">add</i></a>
		</div>
	</div>

	

	<div cg-busy="ctrl.loadingResultsPromise">
		
		<h6 ng-show="!ctrl.expenses || ctrl.expenses.length == 0" class="no-results-container">Nenhum Resultado Encontrado</h6>

		<div ng-if="ctrl.expenses && ctrl.expenses.length > 0">

			<md-card md-theme-watch="" ng-repeat="expense in ctrl.expenses">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{ expense.name }} </span>

						<table style="width: 100%;">
							<tbody>
								<tr>
									<td>Valor: {{ expense.value }}</td>
									<td>Data: {{ ctrl.formatDate(expense.referredTo) }}</td>
									<td style="width: 45px">
										<a href="#" ng-click="ctrl.deleteEntry($event, expense, $index)" style="width: 40px; text-align: center;">
											<i class="red-text material-icons">delete</i>
										</a>
									</td>
									<td style="width: 35px">
										<a href="/expenses/{{ expense.id }}/edit" style="width: 40px; text-align: center;">
											<i class="material-icons">mode_edit</i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</md-card-title-text>
				</md-card-title>
				
			</md-card>		
		</div>

	</div>

</div>