<script type="text/javascript">
  // In case SAILS_LOCALS doesn't exist, set it to an empty dictionary.
  window.SAILS_LOCALS = window.SAILS_LOCALS || {};
  <%
  // This technique is called short-circuiting.  Here's why this works:
  // ```
  // false || true  // => true
  // false || 6  // => 6
  // undefined || true // => true
  // undefined || 6 // => 6
  // ```
  //
  // Caveats:
  // Note that this can have unexpected results if SAILS_LOCALS is something
  // unexpectedly falsy (like empty string, null, false, 0).  Also note this doesn't
  // ensure that window.SAILS_LOCALS is a dictionary.  We could check that, but it's
  // probably ok (also we don't have access to lodash here so I'm mainly being lazy)

  // So the reason why we did that is just to be safe (what if the navigation.ejs
  // partial is no longer used at some point?  This would throw a weird error that
  // might make us annoyed or distressed)
  // Now we can set a property on the window.SAILS_LOCALS dictionary with confidence
  // that it is(...probably...) a dictionary.  And if it did already exist, we're not
  //  overriding it (just adding a property to it.)
  %>
  window.SAILS_LOCALS.editingObject = <%- typeof expense !== 'undefined' ? JSON.stringify(expense) : 'null' %>
</script>


<div class=" ng-cloak" ng-controller="saveExpensePageController">
	

	<div class="row">

		<table style="width: 100%; ">
			<tr>
				<td style=" width: 33.33%;">
					<md-button class="md-raised md-secondary" href="/expenses">Voltar</md-button>
				</td>
				<td style=" width: 33.33%;"><div class="center" style="    font-size: 25px;">Despesas</div></td>
				<td style=" width: 33.33%;">
					<md-button class="md-raised md-primary pull-right" ng-click="save()">Salvar</md-button>
				</td>
			</tr>
		</table>
	</div>

	<div style="margin-top: 10px;" class="row">

		<div class="input-field col s12">
			<label for="exampleInputEmail1">Nome</label>
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nome..." required="required" ng-model="newExpense.name">
		</div>

		<div class="col s6">
			<label for="expenseValue">Valor</label>
			<input type="number" class="form-control" id="expenseValue" placeholder="Valor..." required="required" ng-model="newExpense.value">
		</div>

		<div class="col s6" style="margin-bottom: 20px;">
			<!-- <input type="date" class="form-control" id="referredToDate" required="required" ng-model="newExpense.referredTo"> -->
			<label for="referredDate">Data Referente</label><br/>
			<md-datepicker ng-model="newExpense.referredToDate" md-placeholder="Informe a data" md-open-on-focus md-hide-icons="calendar"></md-datepicker>
			
		</div>

		

	</div>

</div>